#welcome-text {
-fx-font-size: 36px;
-fx-font-family: "Arial Black";
-fx-fill: GREEN;
-fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.7), 6, 0.0, 0, 2);
}

.button{
	-fx-font: 16px "Serif";
    -fx-padding: 8;
}
#actiontarget {
-fx-fill: FIREBRICK;
-fx-font-size: 18px;
-fx-font-weight: bold;
-fx-effect: dropshadow( gaussian, rgba(255,255,255,0.5), 0,0,0,1 );
}
.label {
-fx-font-size: 14px;
-fx-font-weight: bold;
-fx-text-fill: #333333;
-fx-effect: dropshadow(
gaussian, rgba(255,255,255,0.5) , 0,0,0,1 );
}
